[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pyflakes = "*"
django-extensions = "*"

[packages]
django = "*"
django-treebeard = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
requests = "*"
ipython = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
